# .github/workflows/build-release.yml
name: Build and Push SRS to release branch

on:
  push:
    branches:
      - main
    paths:
      - 'domain.json'  # Запускать только при изменении domain.json

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      
      - name: Cache sing-box binary
        id: cache-sing-box
        uses: actions/cache@v4
        with:
          path: ~/.local/bin/sing-box
          key: sing-box-v1-${{ hashFiles('**/go.sum') }}  # или фиксированный ключ, если версия не меняется
          restore-keys: |
            sing-box-v1-
      
      - name: Install sing-box if not cached
        if: steps.cache-sing-box.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/.local/bin
          go install -v github.com/sagernet/sing-box/cmd/sing-box@latest
          cp "$(go env GOPATH)/bin/sing-box" ~/.local/bin/sing-box
      
      - name: Add sing-box to PATH
        run: echo "~/.local/bin" >> $GITHUB_PATH

      - name: Compile domain.srs
        run: |
          sing-box rule-set compile --output /tmp/domain.srs domain.json
      
      - name: Push domain.srs to release branch
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
      
          if git ls-remote --exit-code --heads origin release; then
            git fetch origin release --depth=1
            git checkout release
            git rm -rf .
          else
            git checkout --orphan release
          fi
      
          cp /tmp/domain.srs ./domain.srs
          git add domain.srs
          git commit -m "Update domain.srs from main@$(git rev-parse --short HEAD)"
          git push origin release --force
